.container {
  margin: 0 auto;
  background-color: rgb(255, 180, 81);
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 100px));
  grid-template-rows: minmax(110px, auto) repeat(5, minmax(auto, 100px));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20px;
}

.container > .numPad {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  background-color: grey;
  font-size: 1.3rem;
  color: aliceblue;
  user-select: none;
}

.container > .numPad:hover {
  background-color: rgb(85, 85, 85);
}

.display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: grey;
  word-wrap: break-word;
  font-size: 1.3rem;
  color: aliceblue;
  border: 1px black solid;
  padding-right: 2rem;
  letter-spacing: 1.5px;
  text-align: right;
}

.memory,
.editor {
  width: 100%;
}

.memory {
  color: black;
}

.numPadAc {
  background-color: rgba(0, 0, 0, 0.548) !important;
}

.numPadAc:hover {
  background-color: rgba(0, 0, 0, 0.726) !important;
}

/* CSS grid layout */
.div1 {
  grid-area: 1 / 1 / 2 / 5;
}
.layout_numpad_ac {
  grid-area: 2 / 1 / 3 / 3;
}
.layout_numpad_divide {
  grid-area: 2 / 3 / 3 / 4;
}
.layout_numpad_multiply {
  grid-area: 2 / 4 / 3 / 5;
}
.layout_numpad_0 {
  grid-area: 6 / 1 / 7 / 3;
}
.layout_numpad_equal {
  grid-area: 5 / 4 / 7 / 5;
}
.layout_numpad_1 {
  grid-area: 5 / 1 / 6 / 2;
}
.layout_numpad_2 {
  grid-area: 5 / 2 / 6 / 3;
}
.layout_numpad_3 {
  grid-area: 5 / 3 / 6 / 4;
}
.layout_numpad_4 {
  grid-area: 4 / 1 / 5 / 2;
}
.layout_numpad_5 {
  grid-area: 4 / 2 / 5 / 3;
}
.layout_numpad_6 {
  grid-area: 4 / 3 / 5 / 4;
}
.layout_numpad_7 {
  grid-area: 3 / 1 / 4 / 2;
}
.layout_numpad_8 {
  grid-area: 3 / 2 / 4 / 3;
}
.layout_numpad_9 {
  grid-area: 3 / 3 / 4 / 4;
}
.layout_numpad_subtract {
  grid-area: 3 / 4 / 4 / 5;
}
.layout_numpad_add {
  grid-area: 4 / 4 / 5 / 5;
}
.layout_numpad_dot {
  grid-area: 6 / 3 / 7 / 4;
}
