.container {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(255, 180, 81);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20px;
}

.container > div {
  border: 1px black solid;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: aliceblue;
}

.div1 {
  grid-area: 1 / 1 / 2 / 5;
  align-items: flex-end !important;
  padding-right: 2rem;
  letter-spacing: 1.5px;
  display: flex;
  flex-flow: column;
}

.memory {
  height: 25px;
  color: black;
}

.editor {
  height: 25px;
}

.div2 {
  background-color: rgba(0, 0, 0, 0.548) !important;
  grid-area: 2 / 1 / 3 / 3;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 {
  grid-area: 6 / 1 / 7 / 3;
}
.div6 {
  grid-area: 5 / 4 / 7 / 5;
}
.div13 {
  grid-area: 3 / 1 / 4 / 2;
}
.div14 {
  grid-area: 3 / 2 / 4 / 3;
}
.div15 {
  grid-area: 3 / 3 / 4 / 4;
}
.div10 {
  grid-area: 4 / 1 / 5 / 2;
}
.div11 {
  grid-area: 4 / 2 / 5 / 3;
}
.div12 {
  grid-area: 4 / 3 / 5 / 4;
}
.div7 {
  grid-area: 5 / 1 / 6 / 2;
}
.div8 {
  grid-area: 5 / 2 / 6 / 3;
}
.div9 {
  grid-area: 5 / 3 / 6 / 4;
}
.div16 {
  grid-area: 3 / 4 / 4 / 5;
}
.div17 {
  grid-area: 4 / 4 / 5 / 5;
}
.div18 {
  grid-area: 6 / 3 / 7 / 4;
}
